// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 共通

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.theme {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 3px;
    margin: 10px 20px 10px 20px;
}

.theme-font {
    font-size: 24px;
}

.like-btn {
    color: #ff2581;
}

.like-btn-unlike {
    color: #8899a6;
}

.user-font {
    font-size: 20px;
}

.user_link {
    text-decoration: none;
    color: black;
}

.user_link:hover {
    text-decoration: none;
    color: rgba(53, 53, 53, 0.589)
}



// index/themes
.themes-index {
    display: flex;
}

.index-txt {
    width: 40%;
}

.image-theme {
    text-align: center;
    padding-top: 30px;
}

.theme-content {
    width: 300px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    height: auto;
    padding: 10px 20px;
    word-wrap: break-all;
}

.t-container {
    // background-color: #F4F4F4;
    // box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.336);
    width: 100%;
    margin: 20px 60px;
    padding-bottom: 20px;
}

.post-link {
    margin: 20px 0 0 20px;
}

.t-container .post-link {
    display: inline-block;
    width: 150px;
    line-height: 40px;
    text-align: center;
    background-color: #555555;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px #2c2c2c;
}

.t-container .post-link:hover {
    color: rgba(255, 255, 255, 0.733);
}

.t-container .post-link:active {
    box-shadow: none;
    position: relative;
    top: 4px;
}


.t-user_info {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

// 
.link-form {
    display: flex;
    justify-content: center;
    height: 50px;
}

.link a {
    width: 100px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background-color: #DC5A1B;
    color: white;
    border-radius: 80px;
    box-shadow: 0px 8px #AF2422;
    text-decoration: none;
}

.link a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
}

.link a:active {
    box-shadow: none;
    position: relative;
    top: 8px;
}

.delete-btn {
    display: inline-block;
    background-color: #555555;
    color: white;
    text-decoration: none;
    width: 60px;
    text-align: center;
    line-height: 24px;
    box-shadow: 0 4px #2c2c2c;
    border-radius: 10px;
}

.delete-btn:hover {
    color: rgba(255, 255, 255, 0.733);
    text-decoration: none;
}

.delete-btn:active {
    position: relative;
    top: 4px;
    box-shadow: none;
}

.d {
    margin: 10px;
}

// 

.t-icon_image {
    width: 40px;
    height: 40px;
    //サイズ指定
    border-radius: 5px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
}

.good {
    padding-left: 30px;
}

.good-btn {
    font-size: 35px;
    color: rgb(20, 41, 109);
}

.ungood-btn {
    font-size: 35px;
    color: #8899A6;
}

.index {
    width: 100%;
}

.ranking {
    width: 100%;
}

// 


// themes/show

.themes-show {
    display: flex;
}

.answer-wrapper {
    display: flex;
    // box-shadow: 5px 2px 10px 1px gray;
    // margin: 10px 20px 10px 20px;
    // background-color:#FFFFFF;
    border-radius: 3px;
}

.answer-list {
    width: 50%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 5px 5px 5px 20px;
    border-radius: 3px;
    padding: 20px;
    min-height: 200px;
}

.answer-ranking {
    width: 50%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 5px 20px 5px 5px;
    border-radius: 3px;
    padding: 20px;
}

.answer-form {
    background-color: #FFFFFF;
    margin: 5px 20px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    display: flex;
    justify-content: center;
    height: auto;
    border-radius: 3px;
    padding: 20px;
}

.fa-crown {
    color: gold;
}

.answer-info {
    text-align: center;
}

.submitBtn {
    display: block;
    box-shadow: 0 5px black;
    border-radius: 10px;
    background-color: #555555;
    color: white;
    margin: 0 auto;
    width: 150px;
    line-height: 30px;
}

.submitBtn:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}

// 
// themes/new
.contents {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 5px 2px 10px 1px gray;
    padding: 10px 30px;
    border-radius: 30px;
}

.rule {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 5px 2px 10px 1px gray;
    padding: 10px;
    border-radius: 30px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;

}
