// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  box-sizing: border-box;
}

.fa-user-edit {
  font-size: 20px;
  color: #fff;
}

.icon {
  width: 100px;
  height: 100px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.testuser{
  margin: 30px auto;
  width: 300px;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
}
.user-form{
  margin: 0 auto;
}
// user/show
.u-container {
  // background-color: #F4F4F4;
  // box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.336);
  width: 100%;
  padding: 20px;
  // padding-bottom: 20px;
  // margin: 20px;
}


.u-container .post-link {
  display: inline-block;
  width: 150px;
  line-height: 40px;
  text-align: center;
  background-color: #555555;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px #2c2c2c;
}

.u-container .post-link:hover {
  color: rgba(255, 255, 255, 0.733);
}

.u-container .post-link:active {
  box-shadow: none;
  position: relative;
  top: 4px;
}

.user-head {
  background-color: #555555;
  margin: 10px 20px;
  padding: 10px;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.336);
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  border-radius: 10px;
}

.user-introduce {
  height: auto;
  background-color: #fff;
  margin: 10px 20px;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.336);
  color: black;
  font-size: 24px;
  border-radius: 10px;
  padding-bottom: 20px;
}


.icon_image {
  width: 128px;
  height: 128px;
  //サイズ指定
  border-radius: 10px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング

}

.user-img {
  text-align: center;
  padding-top: 20px;
}

.name {
  text-align: center;
  padding-bottom: 10px;
}

.user {
  background-color: #fff;
}

.user-profile {
  width: auto;
  height: 50%;
  border: solid black 1px;
  border-radius: 10px;
  margin: 20px 50px;
  padding: 10px;
}

.users-wrapper {
  display: flex;
  width: 100%;
}

.wrapper_user {
  width: 40%;
}

.wrapper_info {
  width: 60%;
}

.theme-info {
  background-color: #555555;
  margin: 10px 20px;
  padding: 10px;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.336);
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  border-radius: 10px;
}
